{% extends 'base.html.twig' %}

{% block main %}

    <div id="flickr-dupes" data-info-url="{{ path('flickr_dupes_info') }}" class="whitepage">
        <h2>{{ msg('flickr-find-duplicates') }}</h2>
    </div>

{% endblock %}
